@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Nanum+Myeongjo:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto+Slab:wght@300&family=Young+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .violet {
   --color-a : #130F41;
   --color-b : #18144b;
   --color-c : #1b165e;
   --color-d : #fff;
   --color-e : #322C74;
   --color-f : #424081;
  }
  .bright {
   
  }
  .navy {
    --color-a : #081624;
   --color-b : #0d2844;
   --color-c : #071422;;
   --color-d : #fff;
   --color-e : #112f4f;
   --color-f : #424081; 
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.web-icon {
  color: var(--icon-color);
}
.web-foreground-overlay {
  background: var(--foreground-div-color);
}
.web-border {
  border-color: var(--border-color);
}
.web-input {
  outline: none;
  height: 40px;
  padding: 3px;
}
.web-gradient {
  background: var(--figma-gradient);
}
.web-transparent {
  background: var(--transparent-background-color);
}
.ui-button {
  padding: 0.5rem;
  width: 5rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  transition: all 0.1s ease-in;
}
.ui-button:hover {
  scale: 105%;
}
.web-button,
.web-button-yellow {
  font-weight: 600;
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  transition: all 0.15s ease-in;
  color: var(--text-color);
  background: var(--button-color);
}
.web-foreground-button {
  display: inline-block !important;
  text-align: center;
  padding: 2px;
  width: 80px;
  height: 30px;

  transition: all 0.1s ease-in;
}
.web-foreground-button:hover {
  scale: 105% !important;
}
.web-button:hover {
  scale: 105%;
}

.web-text {
  color: var(--text-color);
}
.web-text:hover {
  color: var(--hover-text-color);
}
.web-text-dark {
  color: var(--dark-text-color);
}
.web-body {
  background-color: var(--body-color);
}
.web-foreground {
  background-color: var(--foreground-color);
}
.web-background {
  background-color: var(--background-color);
}
.active li {
  border-bottom: 2px;
}
.faded-border {
  border-image: var(--faded-border);
  border-image-slice: 1;
}
